.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
  gap: 10px;
}

.header {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 30px;
  color: rgb(241, 230, 230);
}

.header span {
  color: pink;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column;
}

.img-loading img {
  width: 300px;
}

.search-box {
  display: flex;
  width: 500px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #1d2e38;
}

.search-input {
  width: 600px;
  height: 70px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  color: beige;
  padding-left: 35px;
  margin-right: 35px;
}

.search-input::placeholder {
  color: #999;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 68px;
  font-size: 20px;
  border-radius: 50px;
  background: pink;
  cursor: pointer;
  color: rgb(34, 68, 179);
}
